.ipynb_checkpoints
weights
__pycache__
workdir
wandb
results
.cache
afdb*
index.txt
run.sh
outpdb
sbatch
run_tmp.sh
*.ipynb
aln
outpdb
tmp
outpdb2
data
*.pkl
figures
*.pse
*.pdb
*.out
core.*
.DS_Store
proteinblobs/multiflow/metadata
*.html
slurm_out